global
    # global settings here

defaults
    # defaults here



frontend f_test1_test1
    # a frontend that accepts requests from clients
    bind 10.10.10.1:80
    default_backend b_test1_test1

backend b_test1_test1
    # servers that fulfill the requests
    balance roundrobin
    server test1_10.17.3.1_22 10.17.3.1:22 



frontend f_test2_test2
    # a frontend that accepts requests from clients
    bind 10.10.10.2:80
    default_backend b_test2_test2

backend b_test2_test2
    # servers that fulfill the requests
    balance roundrobin
    server test2_10.17.3.1_22 10.17.3.1:22 

